<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero Ajedrez</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <h1 style="color:{{color2}};">
        ***Checkerboard***
    </h1>
    {% for a in range(0,y): %}
        {% if a%2==0 : %}
        <div class="container">
            {% for b in range(0,x): %}
                {% if b%2==0: %}
                    <div class="cuadrado" style="background-color:{{color1}};">
                    </div>
                {%else: %}
                    <div class="cuadrado" style="background-color:{{color2}};">
                    </div>
                {%endif%}
            {%endfor%}
        </div>
        {% else : %}
        <div class="container">
            {% for b in range(0,x): %}
                {% if b%2!=0: %}
                    <div class="cuadrado" style="background-color:{{color1}};">
                    </div>
                {%else: %}
                    <div class="cuadrado" style="background-color:{{color2}};">
                    </div>
                {%endif%}
            {%endfor%}
        </div>
        {%endif%}
    {% endfor %}
</body>
</html>